---
layout: base
is_front: true
---
<div id="blog-cover" class="blog-cover" style="background-image: url({% asset_path default_bg.svg %});" onerror="this.onerror=null; this.style='background-image: url(images/default_bg.png);'">

    <section>
        <div class="container">
            <h1>Where It's Cool To Be Irrational</h1>

        </div>


    </section>
</div>
<div class="container">
   <section id="intro">
   <p>
   This event was free and open to the community. We had over 500 visitors and more than 30 demonstrators. Showcased projects ranged from Raspberry Pi computing, Linux computing, 3D printing, UAV design, blacksmithing, soldering, kite making, electronics, robotics, pneumatics, virtual world technology, ham radio, and music.
</p>
   
    <ul>
        <li>What: A celebration for the DIY'er in all of us
        </li>
        <li><a href="/schedule">When: Saturday, 14 March 2015</a>
        </li>
        <li><a href="/about">Where: WBI Tec^Edge Innovation and Collaboration Center, Dayton, OH</a>
        </li>
        <li>Why: To bring together various maker groups/businesses and encourage a collaborative DIY community in the Dayton area, to encourage exploration and tinkering as a path to innovation, to inspire future generations to become interested in STEM</li>
        <li>Who: This event was free and open to the community. All ages welcome.</li>
    </ul>

    For more questions and answers, see our <a href="/faq">FAQ</a>.
</section>
<hr/>

<h2 class="text-center">Presentations (start at 3:50:00)</h2>
<div id="live-broadcast" class="embed-responsive embed-responsive-16by9">
    <iframe src="http://www.youtube.com/embed/bjI0om9ImDU" frameborder="0" allowfullscreen></iframe>

</div>
<hr/>

<div id="funding-donors" class="row logos">
    <h2 class="text-center">Sponsors</h2>
    {% for donor in site.data.donors %} {% if donor.type != "in-kind" %}
    <div class="col-xs-12 col-sm-6 col-md-4 display-block">
        <a href="{{ donor.url }}">
            <img src="{{ donor.logo | asset_path }}" alt="{{ donor.name }}" class="img-responsive" />
        </a>
    </div>
    {% endif %} {% endfor %}
</div>

</div>
