---
layout: base
is_front: true
---
<div id="blog-cover" class="blog-cover" style="background-image: url({% asset_path default_bg.svg %});" onerror="this.onerror=null; this.style='background-image: url(images/default_bg.png);'">

    <section>
        <div class="container">
            <h1>Where It's Cool To Be Irrational</h1>
            <div class="countdown visible-md visible-lg" data-date="2015-03-14 09:26:53"></div>

        </div>


    </section>
</div>
<div class="container">
   <section id="intro">
   <p>
   You are invited to celebrate the most irrational day of the year - Pi Day - with AFRL's first Maker Fest!</p>
   <p>
   This event is free and open to the community. Bring your DIY/Raspberry Pi/Arduino/other projects and curiosity to learn.</p>
   <p>
   <b>Have a Project/Talk/Tutorial idea?</b> <a href="http://goo.gl/forms/tZNLKRhJtb">Please submit it here</a> and we will contact you within 1-2 business days. All submissions must be approved by the Maker Fest organizers; a ticket does not guarantee a project spot. We will do our best to accommodate everyone with enough table space, power, and internet.</p>

    <ul>
        <li>What: A celebration for the DIY'er in all of us
        </li>
        <li><a href="/schedule">When: Saturday, 14 March 2015</a>
        </li>
        <li><a href="/about">Where: WBI Tec^Edge Innovation and Collaboration Center, Dayton, OH</a>
        </li>
        <li>Why: To bring together various maker groups/businesses and encourage a collaborative DIY community in the Dayton area, to encourage exploration and tinkering as a path to innovation, to inspire future generations to become interested in STEM</li>
        <li>Who: This event is free and open to the community. All ages are welcome.</li>
    </ul>

    For more questions and answers, see our <a href="/faq">FAQ</a>.
</section>
<hr/>
<div id="funding-donors" class="row logos">
    <h2 class="text-center">Sponsors</h2>
    {% for donor in site.data.donors %} {% if donor.type != "in-kind" %}
    <div class="col-xs-12 col-sm-6 col-md-4 display-block">
        <a href="{{ donor.url }}">
            <img src="{{ donor.logo | asset_path }}" alt="{{ donor.name }}" class="img-responsive" />
        </a>
    </div>
    {% endif %} {% endfor %}
</div>

</div>
