---
layout: base
is_front: true
---
<div id="blog-cover" class="blog-cover" style="background-image: url({% asset_path default_bg.svg %});" onerror="this.onerror=null; this.style='background-image: url(images/default_bg.png);'">

    <section>
        <div class="container">
            <h1>2016 Dayton Maker Fest</h1>

        </div>


    </section>
</div>
<div class="container">
   <section id="intro">
   <p>
   In 2015 we had over 550 visitors and more than 30 demonstrators. Showcased projects ranged from Raspberry Pi computing, Linux computing, 
   3D printing, UAV design, blacksmithing, soldering, kite making, electronics, robotics, pneumatics, 
   virtual world technology, ham radio, and music.
   </p>
   
   <p> The 2016 Dayton Maker Fest is already shaping up to be even bigger and better! </p>
   
    <ul>
        <li>What: A celebration for the DIY'er in all of us
        </li>
        <li><a href="/schedule">When: 9:00am to 3:00pm on Saturday, 12 March 2016 </a>
        </li>
        <li><a href="/about">Where: WBI Tec^Edge Innovation and Collaboration Center, Dayton, OH</a>
        </li>
        <li>Why: To bring together various maker groups/businesses and encourage a collaborative DIY community in the Dayton area, to encourage exploration and tinkering as a path to innovation, and to inspire future generations to become interested in STEM</li>
        <li>Who: This event is free and open to the community. All ages welcome.</li>
    </ul>

    For more questions and answers, see our <a href="/faq">FAQ</a>.
</section>
<hr/>

<hr/>
<b>Current Exhibitors</b>

<table>
<table style="width:120%;">
<col width="25%">

<tbody>
<tr>
<td>Dayton History</td>
<td>A presentation on the history of invention in Dayton</td>
<td><a href="http://www.daytonhistory.org" target="_blank">http://www.daytonhistory.org</a></td>
</tr>

<tr>
<td>Dayton Metro Library</td>
<td>Examples from the library's Maker Kits</td>
<td><a href="http://www.daytonmetrolibrary.org/makerkits" target="_blank">http://www.daytonmetrolibrary.org/makerkits</a></td>
</tr>

<tr>
<td>Dayton Diode</td>
<td>Handouts to inform people about Dayton Diode. Projects we are working on to show off.</td>
<td><a href="http://www.daytondiode.org/" target="_blank">http://www.daytondiode.org/</a></td>
</tr>
<tr>
<td>MCM Electronics</td>
<td>We plan on bringing various Raspberry Pi items to sell as well as a 3D printer (Ultimaker2+) and a few Raspberry Pi projects.</td>
<td><a href="http://www.mcmelectronics.com" target="_blank">http://www.mcmelectronics.com</a></td>
</tr>
<tr>
<td>STEAM Works Labs</td>
<td>STEAM Work Labs is Dayton's 1st Digital MakerSpace focused on integrating Science, Technology, Entrprenuership, Arts &amp; MakerSpaces to provide a publicly accessible space to serve the community and foster a vibrant entrepreneurial maker culture.</td>
<td><a href="http://www.steamworkslabs.com" target="_blank">http://www.steamworkslabs.com</a></td>
</tr>
<tr>
<td>Randy Boadway</td>
<td>Flying Model Rockets</td>
<td><a href="http://www.erockets.biz" target="_blank">http://www.erockets.biz</a></td>
</tr>
<tr>
<td>AFRL/RXOE Engineering Services</td>
<td>Items to include but not limited to: A wide collection of 3D printed parts from Stratasys Fortus 400mc (both functional and demonstrative), laser engravings/cutouts, CNC mill and lathe samples, EDM sample work, and a combination thereof.</td>
<td></td>
</tr>
<tr>
<td>Jacob Baker</td>
<td>We will be bringing things made of reclaimed wood from the greater Dayton area. Such items include: small tables, signs, coasters, and other home decor. Everything is made from reclaimed wood and salvaged items.</td>
<td></td>
</tr>
<tr>
<td>Adev Automation</td>
<td>Adev Automation will bring our strawberry harvesting robot to Maker Fest.</td>
<td><a href="http://www.adevautomation.com/" target="_blank">http://www.adevautomation.com/</a></td>
</tr>
<tr>
<td>David Wirth</td>
<td>Bits and pieces of a 3d printed railgun. A presentation about construction of the railgun</td>
<td></td>
</tr>
<tr>
<td>Peter G. Raeth, Ph.D.</td>
<td>The world of open-access is vast. Numerous individual search engines address that situation, with each engine covering a portion of what is available. To help people identify those engines and employ them with just one query, I built and am evolving a meta-search engine, http://informationanthology.net/Open-Access-Search.html. Access to this cloud-based application is free.</td>
<td><a href="http://informationanthology.net/Open-Access-Search.html" target="_blank">http://informationanthology.net/Open-Access-Search.html</a></td>
</tr>
<tr>
<td>Matthew Dallmeyer</td>
<td>Demonstrating Field Programmable Gate Array(FPGA) hardware and development. FPGAs are re-configurable digital logic devices. These devices allow you to research, develop, and prototype your digital logic designs. This exhibit will showcase the tools, process and hardware involved in FPGA development.</td>
<td><a href="https://github.com/djmatt/VHDL-Lib" target="_blank">https://github.com/djmatt/VHDL-Lib</a></td>
</tr>
<tr>
<td>Jennifer Chilman</td>
<td>3D Printed and laser printed display pieces, small mind storm robots, interactive key chain assemblies, promotional videos</td>
<td><a href="https://www.clarkstate.edu/advanced-manufacturing" target="_blank">https://www.clarkstate.edu/advanced-manufacturing</a></td>
</tr>
<tr>
<td>Miami Valley Knitters Guild</td>
<td>We will have samples of knitting, and have free kits to teach people how to knit.</td>
<td><a href="http://www.mvkg.org" target="_blank">http://www.mvkg.org</a></td>
</tr>
<tr>
<td>Science Castle of Yellow Springs</td>
<td>As a preview of a local science center under development, I will bring art projects that develop math and social skills in parallel. In the creation of spinning tops, mobiles, jewelry, young people experience intriguing math concepts in fun and visceral forms.

The Science Castle of Yellow Springs combines interactive museum and sensory integration workshop. The Castle teaches us the mysteries of math and science to reveal the secret of ourselves.</td>
<td></td>
</tr>
<tr>
<td>Miami Valley Mesh Alliance</td>
<td>A presentation on mesh networks and communication van, as well as a group meeting</td>
<td></td>
</tr>

</tr>
<tr>
<td>Civil Air Patrol</td>
<td>Aerospace education kits and teaching materials to promote STEM programs in schools. </td>
<td></td>
</tr>

</tr>
<tr>
<td>Dayton Sewing Collaborative</td>
<td>The Dayton Sewing Collaborative is a maker space that is being established to provide a space for sewist, fashion designers and textile artist to work, collaborate and learn.  The Dayton Sewing Collaborative is focused on workforce development, supporting the entrepreneurial ecosystem and creative collaboration in the community. 
We will have information about Dayton Sewing Collaborative and may also have a sewing activity geared towards younger attendees. </td>
<td></td>
</tr>

<tr>
<td>Contact CI</td>
<td>We are bringing our motion capture glove that we are developing to integrate with the virtual reality headsets such as the Oculus Rift, HTC Vive, etc.  We also can bring the several Google Cardboards and Gear VR to exhibit and spread the VR word.</td>
<td><a href="https://www.twitter.com/feeltheunreal" target="_blank">https://www.twitter.com/feeltheunreal</a>
<a href="https://www.facebook.com/feeltheunreal" target="_blank">https://www.facebook.com/feeltheunreal</a>
<a href="http://contactci.co" target="_blank">contactci.co</a></td>
</tr>

<tr>
<td>Jeremy Hong</td>
<td>LED Rave shades that sync with music and is controlled from a Smartphone. Featured on Wright State's Front Page: <a href="http://webapp2.wright.edu/web1/newsroom/2016/02/01/circuit-judge/" target="_blank">http://webapp2.wright.edu/web1/newsroom/2016/02/01/circuit-judge/</a> Featured on University of Pennsylvania's Engineering Magazine: <a href="http://www.seas.upenn.edu/alumni/magazine.php" target="_blank">http://www.seas.upenn.edu/alumni/magazine.php</a>
RTL-SDR Weather Station (Using Raspberry Pi and Arduino)
</td>
<td><a href="http://www.jhongelectronics.org/" target="_blank">http://www.jhongelectronics.org/</a></td>
</tr>

<tr>
<td>Ben Daly</td>
<td>Three quadcopters, all modified to varying extent by 3D printing. One has custom propeller guards, one is entirely 3D printed, and one is is carbon fiber with 3D printed joints.</td>
<td></td>
</tr>

<tr>
<td>Sarah Jordan</td>
<td>Molten Metals for Makers Presentation</td>
<td></td>
</tr>

<tr>
<td>Wright Stuff Rocketeers</td>
<td>Flying Model Rockets</td>
<td></td>
</tr>

<tr>
<td>Terence Chu, PowerStackers</td>
<td>Demonstrating Competition robot that has competed in 3 state robotics championships, winning a number of trophies.</td>
<td></td>
</tr>

<tr>
<td>Robert Slater</td>
<td>Demonstrating devices built over the year to include medical devices, 3D pprinted parts, and automatic guitar tuner, and possibly more)</td>
<td></td>
</tr>

<tr>
<td>Bob Lee</td>
<td>Exhibiting Woodworking Projects</td>
<td></td>
</tr>
</tbody>
</table>

<div id="funding-donors" class="row logos">
    <h2 class="text-center">Sponsors</h2>
    {% for donor in site.data.donors %} {% if donor.type != "in-kind" %}
    <div class="col-xs-12 col-sm-6 col-md-4 display-block">
        <a href="{{ donor.url }}">
            <img src="{{ donor.logo | asset_path }}" alt="{{ donor.name }}" class="img-responsive" />
        </a>
    </div>
    {% endif %} {% endfor %}
</div>

</div>
